body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  overflow: hidden;

  background-color: #434343;
  color: #fff;

  font-family: 'Roboto', sans-serif;
}

button {
  background-color: rgb(15, 97, 163);
  color: rgb(5, 30, 51);

  border: none;
  border-radius: 5px;

  padding: 10px 20px;
  margin: 10px;

  font-size: 1.5rem;
  font-weight: 600;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}



.joystick {
  width: 320px;
  height: 80px;

  border-radius: 50px;
  background-color: #232323;

  display: flex;

  justify-content: center;
  align-items: center;

  margin: 20px;
}

.joystick div {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  border-radius: 50%;
  background-color: #424242;

  transform: translateX(var(--jd));
}


.joystick:not(.moving) div {
  transition: transform 0.2s ease-in-out;
}


#slider{
  width: 320px;
  height: 5px;
  border-radius: 50px;
  background-color: #FFF4;

  margin: 20px;

  z-index: -1;

  display: flex;
  justify-content: left;
  align-items: center;
  
  /* transition: transform 0.4s linear; */
}



.panContainer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s linear;
}

#actual-panContainer {
  transform: translateX(var(--pos)) rotate(var(--rot));
}

#A-panContainer {
  transform: translateX(var(--pos)) rotate(var(--rot));
  border: 2px solid #FFF4;
}

#B-panContainer {
  transform: translateX(var(--pos)) rotate(var(--rot));
  border: 2px solid #FFF4;
}


.panBall {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #F004;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 65%); /* Adjust the offset as needed */
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  position: absolute;
  top: calc(100% + 10px); /* Adjust the offset as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px; /* Adjust the font size as needed */
  color: #000; /* Adjust the color as needed */
}

p {
  margin: 0 1vw 0 1vw;
  font-family: source code pro;
  font-size: 1.5vh;
}

span {
  font-family: source code pro;
}

h {
  font-family: source code pro;
  font-size: 2vh;
}

#howtouse {
  position: relative;
  /* top: 10vh;
  right: -10vw; */
  width: 50vw;
  left: auto;
}

#information {
  position: absolute;
  left: 2vw;
  top: 1vh;
  padding: 0;
  margin: 0;
  #properties{
    font-size: medium;
  }
}
.info > * {
  margin: 0;
}

#videoParams {
  position: relative;

}

#serviceButtons {
  display: flex;
  position: absolute;
  top: 1vh;
  right: 1vw;
}

#container {
  display: flex;
  justify-content: center;
}

#startstopButtons {
  display: flex;
  position: relative;
  justify-content: center;
}

.btn {
  background-color: #232323;
  color: #fff;
}

.btn[data-state="1"] {
  background-color: rgb(15, 97, 163);
  color: rgb(5, 30, 51);
}

h1 {
  font-family: source code pro;
  font-size:x-large;
}

h2 {
  font-family: source code pro;
  font-size: larger;
}


#loopButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #121212;
}

#direction {
  position: relative;
}



#battery {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vh;
  width: 50px;
  height: 50px;
  background: transparent;
}

#batteryLevel {
  margin: 5px;
}

img {
  width: 40px;
  height: 40px;
}

.input-field {
  width: 100px;
  margin: 2px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  border-color: #2196F3;
  box-shadow: 0 0 5px #2196F3;
}